{% extends 'base.html' %}
{% block title %}
{{ title }}
Edit
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <tr>
        <th><label for="id_first_name">First Name:</label></th>
        <td><input type="text" name="first_name" value="{{dataAut.first_name}}" required id="id_first_name"></td>
    </tr>
    <tr>
        <th><label for="id_second_name">Last Name:</label></th>
        <td><input type="text" name="second_name" value="{{dataAut.second_name}}" required id="id_second_name"></td>
    </tr>
    <tr>
        <th><label for="id_pseudonym">Pseudonym:</label></th>
        <td><input type="text" name="pseudonym" value="{{dataAut.pseudonym}}" required id="id_pseudonym"></td>
    </tr>
    <tr>
    <th><label for="id_date_birth">Birth Date:</label></th>
    <td><input type="text" name="date_birth" value="{{dataAut.date_birth}}" required id="id_date_birth"></td>
  </tr>
    <br/>
    <button type="submit">Add</button>
</form>
{% endblock %}