{% extends 'base.html' %}
{% block title %}
{{ title }}
Insert
{% endblock %}

{% block content %}
<h3>Picture</h3>
<table border="1" width="100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Gallery</th>
        <th>Timestamp</th>
    </tr>
    {%for el in dataPicture%}
    <tr>
        <th>{{ el.id }}</th>
        <th>{{ el.name }}</th>
        <th>{{ el.id_author }}</th>
        <th>{{ el.genre }}</th>
        <th>{{ el.id_gallery }}</th>
        <th>{{ el.timestamp }}</th>
    </tr>
    {%endfor%}
</table>
<br/>
<br/>
<h5>Add book</h5>
<form method="post">
    {% csrf_token %}
    {{form}}<br/>
    <button type="submit">Yes</button>
</form>
{% endblock %}